.modalMain{
  margin: 0 24px;
  width: 100%;
}

h2{
  text-transform: uppercase;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.modalWrap{
  display: flex;
  width: 100%;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.modalCard{
  display: flex;
  width: 50%;
  justify-content: space-between;
  position: relative;
  margin-right: 12px;
}

.statsWrap{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.modalImg{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  position: absolute;
}

li{
  display: flex;
  flex-direction: column;
}

.modalStats{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  background-color: #ADD8E6;
  margin-left: 0 12px;
  border-radius: 30px;
}

.modalStatsType{
  width: fit-content;
  display: flex;
}

.statType{
  margin: 12px 24px 0 24px;
  color: #ffffff;
  font-size: 32px;
}

.modalType{
  margin: 12px 24px 0 24px;
  font-size: 32px;
}

.modalStatsTypeValue{
  margin: 12px 24px 0 24px;
  font-size: 24px;
  border-radius: 12px;
  padding: 0 12px 12px 12px;
}

.statValue{
  margin: 12px 24px 0 24px;
  font-size: 24px;
}

.grass{
  background-color: #8cff66;
}

.fire{
  background-color: #ff4d4d;
}

.bug{
  background-color: #BDB76B;
}

.water{
  background-color: #1E90FF;
}

.electric{
  background-color: #FFFF00;
}

.poison{
  background-color: #FF00FF;
}

.ground{
  background-color: #8B4513;
}

.normal{
  background-color: #A9A9A9;
}

